/* ************************** Container ************************** */

.container .location {
  min-height: 900px;
  background-image: url("../img/location.png");
}

.container .location p {
  text-align: center;
  padding-top: 3rem;
  color: #4a4a4a;
  font-weight: bold;
}

/* **************************** Tables **************************** */
.table {
  padding-bottom: 3rem;
}

.table-container table {
  width: 100%;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
}

.table-container th,
td {
  padding: 10px;
}
/* *************************************************************** */


.grid-3-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 1rem 0;
}

/* **************************** Wine container **************************** */

.wine-container h3 {
  display: block;
  padding: 0.5rem 1rem;
}

.wine-container table,
.wine-container h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* **************************** Card with image **************************** */

.card-with-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}

.card-with-image:hover img {
  transform: scale(1.25);
}

.card-with-image:hover .card-info {
  bottom: 0;
}

.card-with-image h3 {
  position: absolute;
  top: 2rem;
  margin: 0;
  padding: 0;
  color: white;
  line-height: 1;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  padding: 10px;
}

.card-with-image img {
  height: 100%;
  transition: 0.25s;
  max-height: 350px;
}

.card-with-image .card-info {
  position: absolute;
  bottom: -30%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(black, 0.4);
  color: white;
  line-height: 1;
  transition: 0.25s;
}

.card-with-image .card-info h4 {
  padding: 0;
  margin: 0 0 20px;
}

.card-with-image .card-info ul li {
  list-style: square;
}

.card-with-image .card-info ul li {
  font-size: 16px;
}

.card-with-image:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
