.header {
  background: #333;
  color: #ffffff;
  padding: 0.5rem 0; }
  .header .nav-container .logo img {
    width: 250px; }
  .header .nav-container .navigation .container-fluid .navbar-toggler {
    background-color: #4a4a4a; }
  .header .nav-container .navigation .container-fluid .navbar-collapse .navbar-nav a {
    color: #ffffff;
    border-radius: 4px;
    margin: 0 2px; }
  .header .nav-container .navigation .container-fluid .navbar-collapse .navbar-nav a.active,
  .header .nav-container .navigation .container-fluid .navbar-collapse .navbar-nav a:hover {
    background-color: #4a4a4a; }

.main-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 1rem 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  min-height: 66vh; }
  .main-container h1 {
    font-size: 2rem;
    line-height: 1.3em; }

@media only screen and (max-width: 994px) {
  .main-container .flex-row {
    flex-direction: column !important; } }

.main-container a .location {
  min-height: 600px;
  background-image: url("../img/location.jpg");
  max-width: 700px;
  max-height: 500px;
  text-decoration: inherit; }
  .main-container a .location p {
    text-align: center;
    padding-top: 4rem;
    color: #4a4a4a;
    font-weight: bold; }

.card-with-image {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  width: 300px;
  height: 350px;
  color: #ffffff; }
  .card-with-image h3 {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 2rem;
    line-height: 1;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    padding: 10px; }
  .card-with-image img {
    height: 100%;
    transition: 0.25s;
    max-height: 350px; }
  .card-with-image .card-info {
    position: absolute;
    margin: 0;
    padding: 0;
    padding: 30px;
    bottom: -30%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    line-height: 1;
    transition: 0.25s; }
    .card-with-image .card-info h4 {
      padding: 0;
      margin: 0 0 20px; }
    .card-with-image .card-info ul li {
      list-style: square;
      font-size: 16px; }

.card-with-image:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .card-with-image:hover img {
    transform: scale(1.25); }
  .card-with-image:hover .card-info {
    bottom: 0; }

@media only screen and (max-width: 1204px) {
  .cellar-container .flex-row {
    flex-direction: column !important;
    margin: 1rem 0; }
    .cellar-container .flex-row .card-with-image {
      margin: 1rem; } }

.footer {
  width: 100%;
  background-color: #333;
  color: #ffffff;
  text-align: center; }
  .footer .footer-container .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .footer .footer-container .box img {
    width: 250px; }
  .footer .footer-container .box h2 {
    margin-bottom: 25px;
    font-size: 20px; }
  .footer .footer-container .box p {
    margin-bottom: 10px; }
  .footer .footer-container .social-network a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 10px;
    transition: all 300ms ease;
    color: #ffffff; }
  .footer .footer-container .social-network .fa-facebook:hover {
    color: #3b5998; }
  .footer .footer-container .social-network .fa-instagram:hover {
    color: #833ab4; }
  .footer .footer-container .social-network .fa-twitter:hover {
    color: #1da1f2; }
  .footer .footer-container .social-network .fa-youtube:hover {
    color: #ff0000; }

@media only screen and (max-width: 767px) {
  .footer .flex-row {
    flex-direction: column !important; } }

body {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 1.2rem;
  line-height: 1.4em;
  margin: 0; }

.nav-link {
  margin-top: 5px !important; }
