.header {
  /* checkear  */
  background: $background;
  color: $white;
  padding: 0.5rem 0;

  .nav-container {
    .logo img {
      width: 250px;
    }
    .navigation .container-fluid {
      .navbar-toggler {
        background-color: $hover-background;
      }
      .navbar-collapse {
        .navbar-nav {
          a {
            color: $white;
            border-radius: 4px;
            margin: 0 2px;
          }
          a.active,
          a:hover {
            background-color: $hover-background;
          }
        }
      }
    }
  }
}
