.main-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 1rem 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  min-height: 500px;
  h1 {
    font-size: 2rem;
    line-height: 1.3em;
  }
}
