.card-with-image {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  width: 300px;
  height: 350px;
  color: $white;
  h3 {
    position: absolute;
    top: 2rem;
    margin: 0;
    padding: 0;
    line-height: 1;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    padding: 10px;
  }
  img {
    height: 100%;
    transition: 0.25s;
    max-height: 350px;
  }
  .card-info {
    position: absolute;
    bottom: -30%;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px rgba(black, 0.4);
    line-height: 1;
    transition: 0.25s;
    h4 {
      padding: 0;
      margin: 0 0 20px;
    }
    ul li {
      list-style: square;
      font-size: 16px;
    }
  }
}

.card-with-image:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  img {
    transform: scale(1.25);
  }
  .card-info {
    bottom: 0;
  }
}

@media only screen and (max-width: 1204px) {
  .cellar-container .flex-row {
    flex-direction: column !important;
    margin: 1rem 0;
    .card-with-image {
      margin: 1rem;
    }
  }
}
