@import "variables";
@import "header";
@import "main";
@import "location";
@import "menu";
@import "footer";

body {
  font-family: $font-type;
  color: $background;
  font-size: 1.2rem;
  line-height: 1.4em;
  margin: 0;
}

